[Unit]
Description=Nex Agent
After=network-online.target
Wants=network-online.target

[Service]
User=nex
Group=nex
ExecStart=/usr/local/bin/agent
KillSignal=SIGINT
StandardOutput=file:/home/nex/nex.log
StandardError=file:/home/nex/err.log
Type=simple
Restart=always


[Install]
WantedBy=default.target
RequiredBy=network.target

